<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>开始使用Layui</title>
	<link rel="stylesheet" href="./static/plugins/layui/css/layui.css">
	<style type="text/css">
		* {
			padding: 0;
			margin: 0;
		}
		
		.think_default_text {
			padding: 4px 48px;
		}
		
		a {
			color: #2E5CD5;
			cursor: pointer;
			text-decoration: none
		}
		
		a:hover {
			text-decoration: underline;
		}
		
		body {
			background: #fff;
			font-family: "Century Gothic", "Microsoft yahei";
			color: #333;
			font-size: 18px
		}
		
		h1 {
			font-size: 100px;
			font-weight: normal;
			margin-bottom: 12px;
		}
		
		p {
			line-height: 1.6em;
			font-size: 42px
		}</style>
</head>
<body>

<div style="padding: 24px 48px;"><h1>:)</h1>
	<p> ThinkPHP V5<br/><span style="font-size:30px">十年磨一剑 - 为API开发设计的高性能框架</span></p><span style="font-size:22px;">[ V5.0 版本由 <a href="http://www.qiniu.com" target="qiniu">七牛云</a> 独家赞助发布 ]</span>
</div>
<!-- 你的HTML代码 -->

</body>
<thinkad id="ad_bd568ce7058a1091"></thinkad>
<script src="./static/plugin/layui/layui.js"></script>
<script>
    layui.config({
        base: './static/js/' //你的模块目录
    }).use('index'); //加载入口
</script>
</html>